main {
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 2.5rem;
}
.try-1 {
  display: grid;
  gap: 2em;
}
.box {
  background-color: var(--white);
  width: 100%;
  border-radius: 0.5rem;
  display: grid;
  box-shadow: var(--shadow-4);
  .box-1,
  .box-2,
  .box-3,
  .box-4 {
    display: grid;
    padding: 1.5rem;
    border-top: 0.25rem solid var(--primary-200);
    overflow: hidden;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    h5 {
      color: var(--Vdb);
      font-weight: 600;
    }
    p {
      margin-top: -1rem;
      text-align: left;
    }
    .img-end {
      justify-self: end;
      transform: scale(0.9);
    }
  }
  .box-2 {
    border-top: 0.25rem solid var(--primary-100);
  }
  .box-3 {
    border-top: 0.25rem solid var(--primary-300);
  }
  .box-4 {
    border-top: 0.25rem solid var(--primary-400);
  }
}
@media (min-width: 768px) {
  .try-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'a b d'
      '. c .';
    gap: 2em;
    max-width: 80em;
  }
  .wrapper-a {
    grid-area: a;
    transform: translateY(50%);
  }
  .wrapper-c {
    grid-area: c;
  }
  .wrapper-d {
    grid-area: d;
    transform: translateY(50%);
  }
}
