header {
  padding: 1.7rem;
  max-width: 100%;
}
header h1 {
  text-align: center;
  font-weight: 200;
  font-size: 1.4rem;
  line-height: 1.5;
  max-width: 100%;
}
.bold-title {
  font-weight: bold;
  color: var(--Vdb);
}
p {
  text-align: center;
  color: var(--Grbl);
}
header p {
  margin-top: -1rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  header h1 {
    font-size: 2rem;
    max-width: 22ch;
    margin: 0 auto;
  }
  header p {
    font-size: 1.2rem;
    margin-top: 1.2rem;
    max-width: 55ch;
  }
}
